body {
  background-image: url(./asset/backgroundLogin.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
.container {
  position: relative;
  left: 35%;
  top: 10%;
  border-radius: 30px;
  backdrop-filter: blur(5px) brightness(60%);
  border: 5px solid black;
  width: 30%;
}
