body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("./asset/background.jpg");
  backdrop-filter: brightness(50%) blur(5px);
}

.navbar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20%;
  height: 100vh;
  color: white;
}
.navbar h2 {
  position: absolute;
  left: 30%;
  top: 10%;
  margin: 0;
  padding: 0;
  font-size: 10vh;
}

.navbar a {
  position: relative;
  top: 30%;
  left: 20%;
  display: flex;
  font-size: 3vh;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
  opacity: 50%;
  transition: 0.5s;
}
.navbar a:hover {
  opacity: 1;
  left: 6rem;
}
.navbar a.active {
  color: white;
  left: 6rem;
  opacity: 1;
}
.container {
  display: flex;
  margin-left: 10%;
  justify-content: space-around;
  position: relative;
}

.box {
  margin-top: 20px;
  margin-left: 10vw;
  height: 30px;
  cursor: pointer;
  padding: 10px 15px 2px 5px;
  background: white;
  border-radius: 30px;
}
.box input {
  width: 15vw;
  outline: none;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}
.slide {
  width: 1300px;
  max-width: 100vw;
  height: 630px;
  max-height: 100vh;
  display: flex;
  margin-top: 2%;
  margin-left: 25%;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.slide .item p {
  display: none;
}
.recommend .item p {
  display: none;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: max-content;
  transition: 1s;
}
.list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.btn {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.btn button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: beige;
  border: none;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.btn button:hover {
  opacity: 80%;
}
.dots {
  position: absolute;
  bottom: 15%;
  color: white;
  left: 40%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: 1s;
}
.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  max-width: 100vw;
  max-height: 100vh;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  opacity: 50%;
  cursor: pointer;
}
.dots li.active {
  opacity: 1;
  width: 12px;
  height: 12px;
}
.account {
  display: flex;
  align-items: center;
}
.account button {
  cursor: pointer;

  border: none;
  width: 100px;
  height: 5vh;
  border-radius: 15px;
  margin-left: 10%;
}
.account button:hover {
  background-color: blueviolet;
}
.account a {
  margin-left: 10%;
  margin-top: 10%;
}
.recommend {
  display: flex;
  position: relative;
  left: 25%;
  gap: 10px;
  max-width: 400px;
}
.recommend img {
  display: flex;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  width: 320px;
  height: 200px;
}
.recommend img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 325px;
  height: 210px;
}
@media screen and (max-width: 430px) {
  .slide {
    width: 300px;
    height: 200px;
  }
  .slide img {
    width: 300px;
  }
  .navbar a {
    font-size: 15px;
    left: 1rem;
  }
  .dots {
    left: 15%;
    bottom: 25%;
  }
  .btn {
    top: 30%;
  }
  .btn button {
    width: 20px;
    height: 20px;
  }
  .navbar a.active {
    left: 2rem;
  }
  .navbar h2 {
    font-size: 20px;
  }
  .recommend {
    display: flex;
    flex-direction: column;
    left: 27%;
    max-width: 300px;
  }

  .recommend img {
    width: 280px;
    height: 140px;
  }
  .recommend img:hover {
    width: 310px;
    left: -4%;
    height: 140px;
  }
}
.menu {
  position: relative;
  color: white;
  width: 1300px;
  left: 10%;
}
.menu h3 {
  position: relative;
  left: 25%;
  margin-top: 3%;
}
.menu .genresList {
  display: flex;
  position: relative;
  justify-content: center;
  left: 17%;
  gap: 2%;
  overflow: hidden;
  backdrop-filter: brightness(30%);
  backdrop-filter: opacity(30%);
  border-radius: 30px;
  padding: 15px;
}
.menu .genresList .genres img {
  width: 300px;
  filter: brightness(50%) blur(1px);
  border-radius: 30px;
  transition: 0.5s;
}
.menu .genresList .genres img:hover {
  filter: brightness(100%);
}
.menu .genresList .genres p {
  display: flex;
  position: absolute;
  left: 30px;
  font-size: 1.5rem;
  bottom: 1%;
}
.genresContainer {
  position: relative;
}
.gameList {
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 1%;
  width: 1370px;
  height: 59vh;
  display: grid;
  position: relative;
  left: 20%;
  padding: 15px 0px 0px 20px;
  overflow-y: scroll;
  grid-row-gap: 10%;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gameContainer p {
  display: inline;
  position: relative;
  top: 2%;
  left: 10%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.gameContainer img {
  border-radius: 30px;
  height: 175px;
  width: 300px;
}
.gameContainer img:hover {
  opacity: 90%;
  border: 1px solid white;
}
